---
# Install longhorn CSI driver via Helm

- name: Install Longhorn Helm repository
  when: install_longhorn is defined and install_longhorn
  tags: install_longhorn
  block:
    - name: Add Longhorn Helm repository
      kubernetes.core.helm_repository:
        name: "{{ longhorn_repo_name }}"
        repo_url: "{{ longhorn_repo_url }}"

    - name: Install Longhorn Helm chart
      kubernetes.core.helm:
        name: "{{ longhorn_release_name }}"
        chart_ref: "{{ longhorn_chart_ref }}"
        namespace: "{{ longhorn_namespace }}"
        chart_version: "{{ longhorn_helm_chart_version }}"
        create_namespace: true
        values: "{{ longhorn_values }}"
        state: present
        wait: true
