---
# Tasks to install and configure containerd

- name: Install containerd apt repo key + repo (Debian)
  when: ansible_facts['os_family'] == "Debian"
  block:
    - name: Install repo prerequisites
      ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present
        update_cache: true

    - name: Import apt repo GPG key for containerd
      ansible.builtin.include_role:
        name: apt_keyring
      vars:
        apt_keyring_url: "{{ containerd_apt_url }}"
        apt_keyring_name: "{{ containerd_apt_name }}"

    - name: Remove any old docker repo list files (no signed-by)
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/apt/sources.list.d/docker.list
        - /etc/apt/sources.list.d/docker-ce.list

    - name: Add Docker apt repository (signed-by)
      ansible.builtin.apt_repository:
        repo: >-
          deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg]
          https://download.docker.com/linux/debian
          {{ ansible_facts['distribution_release'] }} stable
        filename: docker
        state: present

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true


- name: Install containerd package
  ansible.builtin.package:
    name: containerd.io
    state: present

- name: Configure containerd
  ansible.builtin.copy:
    content: "{{ containerd_config }}"
    dest: "/etc/containerd/config.toml"
    owner: root
    group: root
    mode: '0640'
    force: true
    backup: true
  notify: Restart containerd
