- name: Check if we have the helm repo key
  tags: helm_packages
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.stat:
    path: "{{ helm_repo_key_file }}"
  register: helm_repo_key_stat

- name: Install helm repo/package on Debian/Ubuntu
  tags: helm_packages
  when:
    - ansible_facts['os_family'] == 'Debian'
    - not helm_repo_key_stat.stat.exists
  block:
    - name: Import apt repo GPG key
      ansible.builtin.include_role:
        name: apt_keyring
      vars:
        apt_keyring_url: "{{ helm_repo_key_url }}"
        apt_keyring_dest: /etc/apt/keyrings/helm-stable-debian.gpg

    - name: Add helm repository
      ansible.builtin.deb822_repository:
        name: helm-stable-debian
        signed_by: "{{ helm_repo_key_file }}"
        uris: "{{ helm_repo_url }}"
        suites: any
        components: main

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install helm package
      ansible.builtin.apt:
        name: helm
        state: present
