---
# Global variables for the Kubernetes cluster

kubernetes_version: "1.33.7"
kubernetes_major_minor: "{{ kubernetes_version.split('.')[0] }}.{{ kubernetes_version.split('.')[1] }}"
pod_cidr: "10.10.0.0/16"
service_cidr: "10.96.0.0/12"

container_runtime: containerd
domain: lab.local

# ArgoCD
install_argocd: true
argocd_helm_chart_version: 9.4.1

install_longhorn: true
longhorn_helm_chart_version: 1.4.0

# CNI
cni_plugin: calico

flannel_plugin_version: "0.27.4"
flannel_plugin_url: "https://github.com/flannel-io/flannel/releases/download/v{{ cni_plugin_version }}/flannel-{{ cni_plugin_version }}-amd64.tgz"
flannel_manifest_url: "https://raw.githubusercontent.com/flannel-io/flannel/v0.27.4/Documentation/kube-flannel.yml"
flannel_manifest_path: "/etc/kubernetes/flannel.yml"

calico_plugin_version: "3.31.3"
calico_manifest_url: "https://raw.githubusercontent.com/projectcalico/calico/v{{ calico_plugin_version }}/manifests/calico.yaml"
calico_manifest_path: "/etc/kubernetes/calico.yaml"

# MetalLB
metallb_version: "0.15.3"
metallb_manifest_url: "https://raw.githubusercontent.com/metallb/metallb/v{{ metallb_version }}/config/manifests/metallb-native.yaml"
metallb_manifest_path: "/etc/kubernetes/metallb.yaml"
metallb_ip_range: "192.168.1.101-192.168.1.120"

kubernetes_packages:
  - kubelet
  - kubeadm
  - kubectl

# List of users to copy admin.conf to
admin_users:
  - root
  - debian
