---
- name: Install kubectl
  tags: kubectl
  block:
    - name: Install prerequisites
      ansible.builtin.apt:
        name: [ca-certificates, curl, gnupg]
        state: present
        update_cache: true

    - name: Ensure apt keyrings dir exists
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"

    - name: Import kubernetes apt repo GPG key for kubectl
      ansible.builtin.include_role:
        name: apt_keyring
      vars:
        apt_keyring_url: "{{ kubectl_apt_url }}"
        apt_keyring_name: "{{ kubectl_apt_name }}"

    - name: Install kubectl
      ansible.builtin.apt:
        name: kubectl
        state: present
        update_cache: true
