---
# Install CNI plugin

- name: Get and patch flannel manifest
  when: cni_plugin == "flannel"
  tags: install_cni_flannel
  block:
    - name: Get flannel manifest
      ansible.builtin.get_url:
        url: "{{ flannel_manifest_url }}"
        dest: "{{ flannel_manifest_path }}"
        mode: '0644'
        owner: root
        group: root
    - name: Patch flannel manifest
      ansible.builtin.replace:
        path: "{{ flannel_manifest_path }}"
        regexp: "10.244.0.0/16"
        replace: "{{ pod_cidr }}"
        backup: true
    - name: Apply flannel manifest
      kubernetes.core.k8s:
        src: "{{ flannel_manifest_path }}"
        state: present
        kubeconfig: /etc/kubernetes/admin.conf

- name: Get and patch calico manifest
  when: cni_plugin == "calico"
  tags: install_cni_calico
  block:
    - name: Get calico manifest
      ansible.builtin.get_url:
        url: "{{ calico_manifest_url }}"
        dest: "{{ calico_manifest_path }}"
        mode: '0644'
        owner: root
        group: root
    - name: Patch calico manifest
      ansible.builtin.replace:
        path: "{{ calico_manifest_path }}"
        regexp: "192.168.0.0/16"
        replace: "{{ pod_cidr }}"
        backup: true
    - name: Apply calico manifest
      kubernetes.core.k8s:
        src: "{{ calico_manifest_path }}"
        state: present
        kubeconfig: /etc/kubernetes/admin.conf

# - name: Apply Calico IPPool with correct pod CIDR
#   ansible.builtin.copy:
#     dest: /tmp/calico-ippool.yaml
#     content: |
#       apiVersion: projectcalico.org/v3
#       kind: IPPool
#       metadata:
#         name: default-ipv4-ippool
#       spec:
#         cidr: "{{ pod_cidr }}"
#         ipipMode: Always
#         natOutgoing: true
#         selector: all()
# - name: Apply the custom IPPool
#   ansible.builtin.shell: |
#     export KUBECONFIG=/etc/kubernetes/admin.conf
#     kubectl apply -f /tmp/calico-ippool.yaml
# - name: Delete the temporary IPPool file
#   ansible.builtin.file:
#     path: /tmp/calico-ippool.yaml
#     state: absent
