---
# Playbook to install Kubernetes

- name: Install kubectl
  tags: kubectl
  hosts: workstation
  become: true
  gather_facts: true
  roles:
    - kubectl
    - helm

- name: Wait for all nodes to be reachable via SSH
  hosts: control_plane:workers
  gather_facts: false
  tasks:
    - name: Wait for SSH
      wait_for_connection:
        delay: 5
        timeout: 300

- name: Common OS prep
  tags: [common_os_prep,common]
  hosts: 'all:!workstation'
  become: true
  gather_facts: true
  roles:
    - common
    - containerd
    - kubeadm
    - storage

- name: Initialize Kubernetes control plane
  tags: init_control_plane
  hosts: control_plane[0]
  become: true
  gather_facts: true
  roles:
    - control_plane

- name: Generate kubeconfig file
  tags: merge_admin_conf
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  tasks:
    - name: Merge admin.conf into ~/.kube/config
      ansible.builtin.shell: |
        export KUBECONFIG="{{ kubeconfig_path }}:/tmp/k8s-admin.conf"
        HOMEDIR="{{ lookup('env', 'HOME') }}"
        mkdir -p "$HOMEDIR/.kube"
        kubectl config view --merge --flatten > "$HOMEDIR/.kube/config_merged"
        mv "$HOMEDIR/.kube/config_merged" "$HOMEDIR/.kube/config"
        chmod 0600 "$HOMEDIR/.kube/config"
        OWNER=$(stat -c "%U" "$HOMEDIR")
        chown -R $OWNER "$HOMEDIR/.kube"
  vars:
    kubeconfig_path: "$HOMEDIR/.kube/config"

- name: Join additional control plane nodes
  tags: join_control_plane
  hosts: control_plane[1:]
  become: true
  gather_facts: true
  roles:
    - control_plane

- name: Install CNI
  tags: install_cni
  hosts: control_plane[0]
  become: true
  gather_facts: true
  roles:
    - cni

# - name: Sleep for 30 seconds to allow cluster to stabilize
#   tags: wait_for_cluster_stabilization
#   hosts: localhost
#   connection: local
#   become: false
#   gather_facts: false
#   tasks:
#     - name: Sleep for 30 seconds
#       ansible.builtin.pause:
#         seconds: 30



- name: Indicate worker node names
  hosts: workers
  gather_facts: false
  tasks:
    - name: Print worker node name
      debug:
        msg: "Worker node: {{ inventory_hostname }}"

- name: Join worker nodes
  tags: join_worker
  hosts: workers
  become: true
  gather_facts: true
  roles:
    - worker

- name: Install helm charts
  tags: install_helm_charts
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  roles:
    - longhorn
    - argocd

- name: Install Additional Services
  tags: [install_loadbalancer,install_argocd]
  hosts: control_plane[0]
  become: true
  gather_facts: true
  roles:
    - loadbalancer


