---
# Playbook to install Kubernetes

- name: Inject Kubernetes module into Ansible's pipx environment
  hosts: workstation
  connection: local
  gather_facts: false
  tasks:
    - name: Inject kubernetes into Ansible's pipx environment
      command: pipx inject ansible kubernetes
      register: result
      changed_when: "'injected package' in result.stdout"

- name: Install kubectl
  tags: kubectl
  hosts: workstation
  connection: local
  become: true
  gather_facts: true
  roles:
    - kubectl
    - helm

- name: Wait for all nodes to be reachable via SSH
  hosts: control_plane:workers
  gather_facts: false
  tasks:
    - name: Wait for SSH
      ansible.builtin.wait_for_connection:
        delay: 5
        timeout: 300

- name: Common OS prep
  tags: [common_os_prep, common]
  hosts: 'all:!workstation'
  become: true
  gather_facts: true
  roles:
    - common
    - containerd
    - kubeadm
    - storage

- name: Initialize Kubernetes control plane
  tags: init_control_plane
  hosts: control_plane[0]
  become: true
  gather_facts: true
  roles:
    - control_plane

- name: Generate kubeconfig file
  tags: merge_admin_conf
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  vars:
    kube_dir: "{{ lookup('env', 'HOME') }}/.kube"
    kubeconfig: "{{ kube_dir }}/config"
    admin_conf: /tmp/k8s-admin.conf
    merged_tmp: /tmp/kubeconfig.merged

  tasks:
    - name: Ensure ~/.kube exists
      ansible.builtin.file:
        path: "{{ kube_dir }}"
        state: directory
        mode: "0700"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"

    - name: Generate merged kubeconfig
      ansible.builtin.shell: |
        export KUBECONFIG="{{ kubeconfig }}:{{ admin_conf }}"
        kubectl config view --merge --flatten
      register: kubeconfig_rendered
      changed_when: false

    - name: Install merged kubeconfig
      ansible.builtin.copy:
        content: "{{ kubeconfig_rendered.stdout }}"
        dest: "{{ kubeconfig }}"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"
        mode: "0600"

- name: Join additional control plane nodes
  tags: join_control_plane
  hosts: control_plane[1:]
  become: true
  gather_facts: true
  roles:
    - control_plane

- name: Install CNI
  tags: install_cni
  hosts: control_plane[0]
  become: true
  gather_facts: true
  roles:
    - cni

# - name: Sleep for 30 seconds to allow cluster to stabilize
#   tags: wait_for_cluster_stabilization
#   hosts: localhost
#   connection: local
#   become: false
#   gather_facts: false
#   tasks:
#     - name: Sleep for 30 seconds
#       ansible.builtin.pause:
#         seconds: 30

# kubectl wait --for=condition=Ready nodes -l node-role.kubernetes.io/control-plane --timeout=300s

- name: Indicate worker node names
  hosts: workers
  gather_facts: false
  tasks:
    - name: Print worker node name
      ansible.builtin.debug:
        msg: "Worker node: {{ inventory_hostname }}"

- name: Join worker nodes
  tags: join_worker
  hosts: workers
  become: true
  gather_facts: true
  roles:
    - worker

- name: Install helm charts
  tags: install_helm_charts
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  roles:
    - longhorn
    - argocd

- name: Install Additional Services
  tags: [install_loadbalancer, install_argocd]
  hosts: control_plane[0]
  become: true
  gather_facts: true
  roles:
    - loadbalancer
