---
# Install and configure ArgoCD

- name: Install ArgoCD via helm
  when: install_argocd is defined and install_argocd
  tags: install_argocd
  block:
    - name: Add ArgoCD Helm repository
      kubernetes.core.helm_repository:
        name: "{{ argocd_repo_name }}"
        repo_url: "{{ argocd_repo_url }}"
    - name: Install ArgoCD Helm chart
      kubernetes.core.helm:
        name: "{{ argocd_release_name }}"
        chart_ref: "{{ argocd_chart_ref }}"
        chart_version: "{{ argocd_helm_chart_version }}"
        namespace: "{{ argocd_namespace }}"
        create_namespace: true
        values: "{{ argocd_values }}"
        state: present
        wait: true